@using Microsoft.AspNetCore.Identity;
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form method="post" asp-controller="account" asp-action="ChangePassword">
                <button type="submit" style="width:auto"
                        class="nav-link btn btn-link py-0">
                    Change Password
                </button>
            </form>
        </li>
        <li class="nav-item">
            <form method="post" asp-controller="account" asp-action="logout">
                <button type="submit" style="width:auto"
                        class="nav-link btn btn-link py-0">
                    Logout
                </button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="account" asp-action="login">
                Login
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="account" asp-action="register">
                Register
            </a>
        </li>
    }
</ul>