@using BoookStoreDatabase2.BLL.Models.DTO;
@model List<OrderLineDTO>;
@{
    ViewData["Title"] = "My Cart";
}

<h1>My Cart</h1>
<div class="row">
    <div class="col-12">
        <table class="table table-sm table-striped table-hover border-bottom">
            <thead>
                <tr>

                    <th>
                        Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        ProductType
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model?.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Products[0].Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Products[0].Quantity)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Products[0].Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Products[0].ProductType)
                            </td>
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">
                            No Items Found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model != null && Model?.Count > 0)
        {
            <div class="form-group row">
                <div class="col-sm-10">
                    <a asp-controller="Cart" asp-action="CheckOut" class="btn btn-success m-1">CheckOut</a>
                </div>
            </div>
        }
    </div>
</div>

